/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/* Recurrent flex centering things. */
/* COLORS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}

.heading-2 {
  text-transform: uppercase;
  font-size: 3.3rem;
}

.heading-2--accent {
  color: #D89B64;
}

.heading-2--lowercase {
  text-transform: none;
}

.heading-3 {
  text-transform: uppercase;
}

.heading-3--accent {
  color: #D89B64;
}

.heading-italic {
  font-family: 'Crimson Text', serif;
  color: #8B909D;
  font-weight: 400;
}

.heading-italic--light {
  color: #fff;
}

.u-text-600 {
  font-weight: 600;
}

/* LOGO */
.logo {
  width: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  width: 3.2rem;
  height: 3.2rem;
  fill: #D89B64;
}

.logo--dark .logo__text {
  color: #fff;
}

.logo__text {
  font-weight: 700;
}

/* HAMBURGER */
.hamburger {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger__line {
  width: 100%;
  height: 1px;
  background-color: #000;
  border-radius: 10px;
  position: relative;
}

.hamburger__line::before, .hamburger__line::after {
  content: "";
  display: block;
  background-color: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
}

.hamburger__line::before {
  bottom: 6px;
}

.hamburger__line::after {
  top: 6px;
}

.hamburger--dark .hamburger__line {
  background-color: #fff;
}

/* HEADER SLIDER ARROWS */
.slider-arrow {
  width: 7rem;
  height: 7rem;
  fill: #202838;
  cursor: pointer;
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

.slider-arrow--reverse {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media only screen and (max-width: 56.25em) {
  .slider-arrow {
    fill: #3c4b69;
    width: 7vw;
    height: 7vw;
  }
}

/* HEADER SMALL BOTTOM TEXT */
.header-perfection__text {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  color: #485471;
}

.header-perfection__arrow {
  width: 1px;
  height: 35px;
  margin: 0 auto;
  margin-top: 1.5rem;
  background-color: #485471;
}

.header-perfection__arrow::before, .header-perfection__arrow::after {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  background-color: inherit;
  position: absolute;
  bottom: 0;
  left: 49.5%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.header-perfection__arrow::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-perfection__arrow::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* HEADER SLIDER NUMBERS */
.slider-numbers {
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-numbers__number {
  width: 5rem;
  max-width: 7vw;
  padding-bottom: 5px;
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
}

.slider-numbers__number--active {
  color: #D89B64;
  border-bottom: 1px solid #D89B64;
}

/* Small separator slightly moved to the top */
.separator {
  width: 3rem;
  height: 1px;
  margin: 1.5rem auto;
  background-color: #fff;
  position: relative;
  bottom: 4px;
}

.separator--accent {
  background-color: #D89B64;
}

.separator--gray {
  background-color: #E7E8E9;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #D89B64;
  font-size: 1.4rem;
  border: 1px solid #263045;
  padding: 1.8rem 4.5rem;
}

.btn--light,
.btn--light:link,
.btn--light:visited {
  border-color: #DCDDDF;
}

.button-underline,
.button-underline:link,
.button-underline:visited {
  display: block;
  min-width: 20rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #D89B64;
  padding-bottom: .5rem;
  border-bottom: 1px solid #D89B64;
}

/* DMP is for "Details Make Perfection", the slogan of the company */
.dmp {
  position: relative;
}

.dmp__image {
  width: 50rem;
  position: relative;
  left: 2%;
  z-index: 1;
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (max-width: 41.6875em) and (max-aspect-ratio: 71 / 70) {
  .dmp__image {
    width: 60vw;
  }
}

@media only screen and (max-width: 50em) and (min-aspect-ratio: 71 / 70) {
  .dmp__image {
    width: 45vw;
  }
}

@media only screen and (max-width: 56.25em) {
  .dmp__image {
    left: 4%;
  }
}

.dmp__text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  text-transform: uppercase;
  font-size: 9rem;
  color: #151B29;
  text-shadow: 0 0 5rem rgba(0, 0, 0, 0.6);
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (max-width: 56.25em) {
  .dmp__text {
    color: #1e263a;
  }
}

@media only screen and (max-width: 41.6875em) and (max-aspect-ratio: 71 / 70) {
  .dmp__text {
    font-size: 9vw;
  }
}

@media only screen and (max-width: 50em) and (min-aspect-ratio: 71 / 70) {
  .dmp__text {
    font-size: 8vw;
  }
}

.dmp__text--big {
  font-size: 12rem;
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (max-width: 41.6875em) and (max-aspect-ratio: 71 / 70) {
  .dmp__text--big {
    font-size: 11vw;
  }
}

@media only screen and (max-width: 50em) and (min-aspect-ratio: 71 / 70) {
  .dmp__text--big {
    font-size: 10vw;
  }
}

.dmp__details {
  top: -5%;
  left: 9%;
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (max-width: 41.6875em) and (max-aspect-ratio: 71 / 70) {
  .dmp__details {
    top: -2vw;
    left: 11.5vw;
  }
}

@media only screen and (max-width: 50em) and (min-aspect-ratio: 71 / 70) {
  .dmp__details {
    top: -2.5vw;
    left: 5.5vw;
  }
}

.dmp__ma {
  left: -30%;
  top: 34%;
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (max-width: 41.6875em) and (max-aspect-ratio: 71 / 70) {
  .dmp__ma {
    left: -12vw;
    top: 20vw;
  }
}

@media only screen and (max-width: 50em) and (min-aspect-ratio: 71 / 70) {
  .dmp__ma {
    left: -13vw;
    top: 14vw;
  }
}

.dmp__ke {
  right: -27%;
  top: 34%;
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (max-width: 41.6875em) and (max-aspect-ratio: 71 / 70) {
  .dmp__ke {
    right: -11vw;
    top: 20vw;
  }
}

@media only screen and (max-width: 50em) and (min-aspect-ratio: 71 / 70) {
  .dmp__ke {
    right: -12vw;
    top: 14vw;
  }
}

.dmp__perfection {
  bottom: -9%;
  left: -11%;
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (max-width: 41.6875em) and (max-aspect-ratio: 71 / 70) {
  .dmp__perfection {
    bottom: -3vw;
    left: 0;
  }
}

@media only screen and (max-width: 50em) and (min-aspect-ratio: 71 / 70) {
  .dmp__perfection {
    bottom: -4vw;
    left: -4.5vw;
  }
}

.navbar {
  padding: 5rem 6rem;
  border-bottom: 1px solid #E6E6E6;
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* Flexbox settings */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* CHECKBOX HACK AND MOBILE MENU START */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (max-width: 37.5em) {
  .navbar {
    padding: 3rem 4rem;
  }
}

.navbar__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40rem;
          flex: 0 0 40rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (max-width: 37.5em) {
  .navbar__list {
    display: none;
  }
}

.navbar__link, .navbar__link:link, .navbar__link:visited {
  text-decoration: none;
  color: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.navbar__link:hover, .navbar__link:link:hover, .navbar__link:visited:hover {
  color: #D89B64;
}

.navbar__link--active, .navbar__link--active:link, .navbar__link--active:visited {
  color: #D89B64;
}

.navbar__hamburger {
  display: none;
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (max-width: 37.5em) {
  .navbar__hamburger {
    display: block;
  }
}

.navbar--dark {
  border: none;
}

.navbar--dark .navbar__link,
.navbar--dark .navbar__link:link,
.navbar--dark .navbar__link:visited {
  color: #fff;
}

.navbar--dark .navbar__link:hover,
.navbar--dark .navbar__link:link:hover,
.navbar--dark .navbar__link:visited:hover {
  color: #D89B64;
}

.navbar__checkbox {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

@media only screen and (max-width: 37.5em) {
  .navbar__checkbox:checked + .navbar {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar__checkbox:checked + .navbar .logo__text {
    color: #000;
  }
  .navbar__checkbox:checked + .navbar .hamburger__line {
    background-color: #000;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .navbar__checkbox:checked + .navbar .hamburger__line::after {
    top: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .navbar__checkbox:checked + .navbar .hamburger__line::before {
    bottom: 0;
  }
  .navbar__checkbox:checked + .navbar .navbar__list {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__checkbox:checked + .navbar .navbar__link {
    color: #000;
    font-size: 8vw;
  }
  .navbar__checkbox:checked + .navbar .navbar__link:hover {
    color: #D89B64;
  }
}

.title {
  height: 30rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__content {
  position: relative;
  z-index: 1;
  text-align: center;
  bottom: 1rem;
}

.title__heading {
  margin-bottom: 2rem;
}

.title__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'selimaregular', serif;
  font-size: 20rem;
  color: #F6F6F7;
}

@media only screen and (max-width: 22.375em) {
  .title__bg {
    font-size: 45vw;
  }
}

.categories {
  /* GRID SETTINGS START*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 5fr 7fr;
      grid-template-columns: 7fr 5fr 7fr;
  -ms-grid-rows: 22.129vw;
      grid-template-rows: 22.129vw;
  grid-column-gap: 2.7vw;
  /* GRID SETTINGS END */
}

@media only screen and (max-width: 50em) {
  .categories {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: calc((0.25526315789474 * 100vw) + 198.02631578947px);
        grid-template-columns: calc((0.25526315789474 * 100vw) + 198.02631578947px);
    -ms-grid-rows: calc((0.25526315789474 * 100vw) + 98.02631578947px) calc((0.25526315789474 * 100vw) + 198.02631578947px) calc((0.25526315789474 * 100vw) + 98.02631578947px);
        grid-template-rows: calc((0.25526315789474 * 100vw) + 98.02631578947px) calc((0.25526315789474 * 100vw) + 198.02631578947px) calc((0.25526315789474 * 100vw) + 98.02631578947px);
    grid-row-gap: calc((0.02 * 100vw) + 12rem);
  }
}

.categories__category {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories__category::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(21, 27, 41, 0.75);
}

.categories__category--1 {
  background-image: url(/img/desserts.jpg);
}

.categories__category--2 {
  background-image: url(/img/breakfast.jpg);
}

.categories__category-link, .categories__category-link:link, .categories__category-link:visited {
  text-decoration: none;
  color: inherit;
}

.categories__category-content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.categories__in-evidence {
  background-color: cyan;
  height: 140%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-image: url(/img/smoothies.jpg);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
}

.categories__in-evidence-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.categories__in-evidence-content {
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 10%;
  text-align: center;
}

.menu-card {
  width: 45rem;
  max-width: 80vw;
  height: 50rem;
  -webkit-box-shadow: 0 0 10rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10rem rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-card__img {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menu-card__img--1 {
  background-image: url(/img/main-dishes-small.jpg);
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .menu-card__img--1 {
    background-image: url(/img/main-dishes.jpg);
  }
}

.menu-card__img--2 {
  background-image: url(/img/soups-small.jpg);
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .menu-card__img--2 {
    background-image: url(/img/soups-normal.jpg);
  }
}

.menu-card__img--3 {
  background-image: url(/img/hamburgers-small.jpg);
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .menu-card__img--3 {
    background-image: url(/img/hamburgers.jpg);
  }
}

.menu-card__img--4 {
  background-image: url(/img/desserts-menu-small.jpg);
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .menu-card__img--4 {
    background-image: url(/img/desserts-menu.jpg);
  }
}

.menu-card__img--5 {
  background-image: url(/img/barbecue-small.jpg);
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .menu-card__img--5 {
    background-image: url(/img/barbecue.jpg);
  }
}

.menu-card__img--6 {
  background-image: url(/img/salads.jpg);
}

@media only screen and (min-width: 28.125em) {
  .menu-card__img--6 {
    background-size: 102%;
  }
}

.menu-card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5rem 2rem;
  text-align: center;
}

.menu-card__link, .menu-card__link:link, .menu-card__link:visited {
  text-decoration: none;
  color: inherit;
}

.meal {
  width: 100rem;
  height: 60rem;
  -webkit-box-shadow: 0 0 15rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 53.125em) {
  .meal {
    width: 80%;
    height: 90rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 17.75em) {
  .meal {
    height: 116rem;
  }
}

.meal__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  background-image: url(/img/meal-small.jpg);
  background-size: 120%;
  background-position: 20% bottom;
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .meal__img {
    background-image: url(/img/meal.jpg);
  }
}

@media only screen and (max-width: 53.125em) {
  .meal__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (max-width: 17.75em) {
  .meal__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

.meal__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.meal__header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 28.125em) {
  .meal__header {
    padding: 0 2rem;
  }
}

.meal__ingredients-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  border-top: 1px solid #E7E8E9;
  border-bottom: 1px solid #E7E8E9;
  padding: 5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 28.125em) {
  .meal__ingredients-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3rem 5rem;
  }
}

.meal__ingredients {
  -ms-flex-preferred-size: 51%;
      flex-basis: 51%;
  font-size: 1.2rem;
  color: #8B909D;
  line-height: 1.9;
}

@media only screen and (max-width: 53.125em) {
  .meal__ingredients {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media only screen and (max-width: 28.125em) {
  .meal__ingredients {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 28.125em) {
  .meal__ingredients {
    margin-left: 5rem;
  }
}

.meal__price-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meal__price-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meal__price {
  font-size: 5rem;
  font-weight: 700;
  color: #829C2C;
  margin-bottom: 1rem;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.header {
  height: 80rem;
  background-color: #151B29;
  position: relative;
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (max-width: 41.6875em) and (max-aspect-ratio: 71 / 70) {
  .header {
    height: calc((0.4 * 100vw) + 373.2px);
  }
}

.header__presentation {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (max-width: 41.6875em) and (max-aspect-ratio: 71 / 70) {
  .header__presentation {
    top: 40%;
  }
}

@media only screen and (max-width: 50em) and (min-aspect-ratio: 71 / 70) {
  .header__presentation {
    top: 40%;
  }
}

.header__navigation {
  position: absolute;
  width: 100%;
  padding: 0 6rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (max-width: 75em) {
  .header__navigation {
    padding: 0 1rem;
    top: 51%;
  }
}

@media only screen and (max-width: 41.6875em) and (max-aspect-ratio: 71 / 70) {
  .header__navigation {
    top: 40%;
  }
}

@media only screen and (max-width: 50em) and (min-aspect-ratio: 71 / 70) {
  .header__navigation {
    top: 40%;
  }
}

@media only screen and (max-width: 25em) {
  .header__navigation {
    padding: 0 .3rem;
  }
}

.header__slider {
  position: absolute;
  left: 6rem;
  bottom: 6rem;
}

@media only screen and (max-width: 25em) {
  .header__slider {
    left: 3rem;
    bottom: 3rem;
  }
}

.header__button {
  position: absolute;
  bottom: 5.15rem;
  right: 6rem;
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
  /* SPECIAL MEDIA QUERIES */
  /* Responsive images loader */
}

@media only screen and (min-width: 112.5em) {
  .header__button {
    bottom: 4.6rem;
  }
}

@media only screen and (max-width: 75em) {
  .header__button {
    bottom: 5.4rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .header__button {
    bottom: 5.8rem;
  }
}

@media only screen and (max-width: 41.6875em) and (max-aspect-ratio: 71 / 70) {
  .header__button {
    left: 50%;
    right: auto;
    bottom: 18%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media only screen and (max-width: 50em) and (min-aspect-ratio: 71 / 70) {
  .header__button {
    left: 50%;
    right: auto;
    bottom: 18%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.header__bottom {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.features {
  /* GRID SETTINGS START */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 7fr 6fr;
      grid-template-columns: 6fr 7fr 6fr;
  -ms-grid-rows: 15vw;
      grid-template-rows: 15vw;
  grid-column-gap: 1.8vw;
  /* GRID SETTINGS END */
}

@media only screen and (max-width: 50em) {
  .features {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: calc((0.25526315789474 * 100vw) + 198.02631578947px);
        grid-template-columns: calc((0.25526315789474 * 100vw) + 198.02631578947px);
    grid-row-gap: 10rem;
    -ms-grid-rows: calc((0.25526315789474 * 100vw) + 38.02631578947px) calc((0.25526315789474 * 100vw) + 88.02631578947px) calc((0.25526315789474 * 100vw) + 38.02631578947px);
        grid-template-rows: calc((0.25526315789474 * 100vw) + 38.02631578947px) calc((0.25526315789474 * 100vw) + 88.02631578947px) calc((0.25526315789474 * 100vw) + 38.02631578947px);
  }
}

.features div {
  padding: 2rem;
}

.features__feature {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__feature-content, .features__in-evidence-content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.features__feature-content *:first-child, .features__in-evidence-content *:first-child {
  margin-bottom: 2.5rem;
}

.features__feature-bg, .features__in-evidence-bg {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'selimaregular', serif;
  font-size: 20rem;
}

.features__in-evidence-bg {
  color: #1a2233;
}

.features__in-evidence {
  position: relative;
  width: 100%;
  height: 140%;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #131925;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  padding: 0 6rem;
  /* GRID SETTINGS START */
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(45rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
  /* GRID SETTINGS END */
}

.footer {
  position: relative;
  padding: 15rem 0;
}

.footer__line {
  width: 100%;
  height: 1px;
  background-color: #E6E6E6;
}

.footer__logo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #E6E6E6;
  position: absolute;
  z-index: 1;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  width: 6.5rem;
  height: 6.5rem;
  fill: #D89B64;
}

.footer__text {
  margin-top: 8rem;
  text-align: center;
}

.footer__text * {
  display: block;
}

.footer__text *:last-child {
  margin-top: 1.5rem;
}

.footer__separator {
  width: 15rem;
  height: 1px;
  background-color: #E6E6E6;
  margin: 2.5rem auto;
}

.footer__icons {
  text-align: center;
}

.footer__social-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #E6E6E6;
  cursor: pointer;
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.footer__social-icon:hover {
  fill: #cdcdcd;
}

.footer__social-icon:not(:first-child), .footer__social-icon:not(:last-child) {
  margin: 0 .5rem;
}

.home__categories {
  padding-bottom: 18rem;
  position: relative;
}

.home__categories .button-underline {
  position: absolute;
  left: 50%;
  bottom: 4rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home__details {
  height: 56.2rem;
  background-image: url(/img/details-photo.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__details-container {
  background-color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60rem;
          flex: 0 0 60rem;
  max-width: 80vw;
  height: 70%;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__details-content {
  width: 100%;
  height: 100%;
  padding: 0 1.9rem;
  border: 1px solid #E2E3E6;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__details-content h4 {
  margin: 2.5rem 0;
}

.meal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book__form {
  width: 100rem;
  max-width: 90vw;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-column-gap: 2rem;
  grid-auto-rows: minmax(5rem, -webkit-max-content);
  grid-auto-rows: minmax(5rem, max-content);
  grid-row-gap: 3rem;
}

.book__form > * {
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
}

.book__date-group {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.book__hour-people-group {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.book__textarea-box {
  grid-column: 1 / -1;
}

.book__textarea {
  resize: none;
  font-family: inherit;
  font-size: 1.2rem;
  height: 15rem;
}

.book__send-btn {
  grid-column: 1 / -1;
  background-color: #D89B64;
  padding: 1.5rem;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-family: inherit;
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.book__send-btn:hover {
  background-color: #dda878;
}

.book__send-btn:active {
  background-color: #d38e50;
}

.book__input {
  font-family: inherit;
  text-transform: uppercase;
  color: #151B28;
}

.book__input--center {
  text-align: center;
}

.book__food-input {
  width: 100%;
  height: 100%;
  background-color: #151B28;
  text-transform: uppercase;
  color: #D89B64;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book__food-input-icon {
  width: 1rem;
  height: 2px;
  background-color: #fff;
}

.book__food-input-icon::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.book input,
.book textarea, .book__food-input {
  border: none;
  -webkit-box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.book input {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */