.header {
    height: 80rem; //TEST
    background-color: $color-primary;
    position: relative;

    @include respond(dmp) {
        height: calc((0.4 * 100vw) + 373.2px);
    }

    &__presentation {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond(dmp) {
            top: 40%;
        }
    }

    &__navigation {
        position: absolute;
        width: 100%;
        padding: 0 6rem;
        top: 50%;
        transform: translateY(-50%);

        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond(tab-land) {
            padding: 0 1rem;
            top: 51%;
        }
        
        @include respond(dmp) {
            top: 40%;
        }

        @media only screen and (max-width: 25em) {
            padding: 0 .3rem;
        }
    }

    &__slider {
        position: absolute;
        left: 6rem;
        bottom: 6rem;

        @media only screen and (max-width: 25em) {
            left: 3rem;
            bottom: 3rem;
        }
    }

    &__button {
        position: absolute;
        bottom: 5.15rem;
        right: 6rem;

        @include respond(big-desktop) {
            bottom: 4.6rem;
        }

        @include respond(tab-land) {
            bottom: 5.4rem;
        }

        @include respond(tab-port) {
            bottom: 5.8rem;
        }

        @include respond(dmp) {
            left: 50%;
            right: auto;
            bottom: 18%;
            transform: translateX(-50%);
        }
    }

    &__bottom {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }
}