.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: $color-secondary;
    min-width: 20rem;
    font-size: 1.4rem;
    border: 1px solid #263045;
    padding: 8% 10%;
}

.btn--light,
.btn--light:link,
.btn--light:visited {
    border-color: #DCDDDF;
}

.button-underline,
.button-underline:link,
.button-underline:visited {
    display: inline-block;
    min-width: 20rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: $color-secondary;
    padding-bottom: .5rem;
    border-bottom: 1px solid $color-secondary;
}