/* DMP is for "Details Make Perfection", the slogan of the company */

.dmp {
    position: relative;
    
    &__image {
        width: 50rem;
        max-width: 60vw;
        position: relative;
        left: 2%;
        z-index: 1;
    }

    &__text {
        user-select: none;
        position: absolute;
        text-transform: uppercase;
        font-size: 9rem;
        color: $color-primary;
        text-shadow: 0 0 5rem rgba(0, 0, 0, .6);

        @include respond(dmp) {
            font-size: 9vw;
        }

        &--big {
            font-size: 12rem;

            @include respond(dmp) {
                font-size: 11vw;
            }
        }
    }

    &__details {
        top: -5%;
        left: 9%;

        @include respond(dmp) {
            top: -2vw;
            left: 10vw;
        }
    }

    &__ma {
        left: -30%;
        top: 34%;

        @include respond(dmp) {
            left: -9vw;
            top: 20vw;
        }
    }

    &__ke {
        right: -27%;
        top: 34%;

        @include respond(dmp) {
            right: -8vw;
            top: 20vw;
        }
    }

    &__perfection {
        bottom: -9%;
        left: -11%;

        @include respond(dmp) {
            bottom: -3vw;
            left: -1vw;
        }
    }
}