.menu-card {
    width: 45rem;
    max-width: 80vw;
    height: 50rem;
    box-shadow: 0 0 10rem rgba(0, 0, 0, .15);
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
        width: 100%;
        flex: 0 0 60%;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &--1 {
            background-image: url(/img/main-dishes-small.jpg);

            @include respond(res-bg) {
                background-image: url(/img/main-dishes.jpg);
            }
        }

        &--2 {
            background-image: url(/img/soups-small.jpg);

            @include respond(res-bg) {
                background-image: url(/img/soups-normal.jpg);
            }
        }

        &--3 {
            background-image: url(/img/hamburgers-small.jpg);

            @include respond(res-bg) {
                background-image: url(/img/hamburgers.jpg);
            }
        }

        &--4 {
            background-image: url(/img/desserts-menu-small.jpg);

            @include respond(res-bg) {
                background-image: url(/img/desserts-menu.jpg);
            }
        }

        &--5 {
            background-image: url(/img/barbecue-small.jpg);

            @include respond(res-bg) {
                background-image: url(/img/barbecue.jpg);
            }
        }

        &--6 {
            background-image: url(/img/salads.jpg);

            @media only screen and (min-width: 28.125em) {
                background-size: 102%;
            }
        }
    }

    &__text {
        flex: 1;
        padding: 5rem 2rem;
        text-align: center;
    }
}