.heading-2 {
    text-transform: uppercase;
    font-size: 3.3rem;

    &--accent {
        color: $color-secondary;
    }
}

.heading-3 {
    text-transform: uppercase;

    &--accent {
        color: $color-secondary;
    }
}

.heading-italic {
    font-family: 'Crimson Text', serif;
    color: #8B909D;
    font-weight: 400;

    &--light {
        color: #fff;
    }
}